body{
	font-family:verdana;
	font-size:14px;
}
#login_container{
	width:350px;
	height:350px;
	
}
#login_box{
	padding:20px;
	text-align:center;
	background-color:#44dd91;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.right{
	float:right;
}